.filters {
	width: 100%;
	height: 70px;
	border: 1px #DDDDDD solid;
	border-radius: 4px;
	align-items: center;
	display: flex;
}

.button {
	margin-right: 30px;
	margin-left: auto;
	display: inline-block;
	font-size: 18px;
	background-color: #FF5A5F;
	border-width: 0;
	color: #FFFFFF;
	height: 48px;
	width: 20%;
	border-radius: 4px;
	opacity: 100%;
	cursor: pointer;
	/* change opacity to 90% when the mouse is on the button */
}

.button:hover {
	opacity: 90%;
}
